body{
  background-color: grey;
}
h1{
    color:blue;
}
p{
  /*column-count: 4;
  column-gap: 30px;
  text-align: justify;
  background-color: pink;
  width: 20%;
  display: inline-block;
 border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 15px;
  border-radius:50px 10px;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background-image:repeating-radial-gradient(yellow 30%,orange 30% ,red 40%);
*/
}
/*
navegadors:

-moz-border-radius:60px 10px
-o-border-radius:60px 10px
-ms-border-radius:60px 10px
-webkit-border-radius:60px 10px

*/
/*div{
  text-align: justify;
  color: #FFFFFF;
  height: 350px;
  width: 350px;
  background-color: #012345;
  border-style: solid;
  border-width: 10px;
  transition-property: color, width, background-color, border-radius;
  transition-duration:  2s;
  transition-timing-function:ease-in-out;
  transition-delay: .3s;
  text-align:center;
}*/
div:hover{
/*  color: green;
  width: 800px ;
  background-color: black ;
  border-radius: 10px;
  transform: skewY(45deg);*/
}
div:active{
  /*color: red;
  width: 600px;
  background-color: grey;
  border-radius: 50px;
  transform: skewX(45deg);*/

}
div{
  height: 300px;
  width: 400px;
  border: solid 5px;
  text-align: center;
  /*padding-top: 40px;*/
  box-sizing:border-box;
  margin-bottom: 5px;
/*  text-align: justify;
  color: #FFFFFF;
  height: 350px;
  width: 350px;
  background-color: #012345;
  border-style: solid;
  border-width: 10px;
  padding: 20px;
    transform: translate(20px,30px);
    transform: rotate(65deg);
   transform: scale(0.5,1) rotate(65deg) translate(20px,30px);*/
}

#a{
position: relative;
/*left: 100px;*/
/*top: 100px;*/
right: 100px;
bottom:  100px;
}
#b{
position: fixed;
top: 150px;
left: 200px;
}
#c{
position: absolute;
left: 0px;
top: 0px;
}
