/*https://webaim.org/resources/contrastchecker/*/
*{


font-family: Arial, Helvetica, "Comic sans" sans-serif;
/*color: #FFFFFF;
*/
color: black;
}
body{
/*  background-size: cover;
  text-align: justify;
/*  line-height: 150%;
  word-spacing: 15px;*/
}
#lorem{
  font-style: oblique;
  font-size: 150%;
  font-variant: small-caps;
  letter-spacing: 200px
}

h1{
  font-family: serif;
}
.dreta{
  text-align: right;
}
.esquerra{
  text-align: left;
}
.centre{
  text-align: center;
}
a{

  display: inline-block;
  background-color: green;
  float: right;
}
p{
  clear: right;
  display: inline;
  width: 25%;
}
li{
    list-style-image: url("../img/f1.ico");
}
