body{
  background-color: #FFFFFF;
}
h1{
  color:#0000FF;
/*padding: 50px;
background-color: orange;
border-width: 10px;
border-style: groove;
border-color: coral;
border-bottom-color: red;
border-right-color: green;
border-top-color: grey;
border-left-color: magenta;
border-right-width: 50px;
border-top-width: 25px;
border-left-width: 15px;
border-bottom-width: 10px;
margin-left: 21.4333px;
margin-right: 21.4333px;*/
}
/*a{
  font-size: 30px;
  /*text-decoration-line: overline;
  text-decoration-color: red;
  text-decoration-style: wavy;
  background-color: grey;
  height: 50px;
  width: 115px;
  display: inline-block;
  border: 10px solid;
}
}
a:link{
  color: green;
}
a:visited{
  color: magenta;
}
a:hover{
  color: yellow;
}
a:active{
  color: black;
}*/
/*ul {
    list-style-type: hebrew;
}*/
ol{
  
}
li{
  color: red;
  font-size: 30px;
}
