body{
	background-color: #dadada;
	margin: 1%;
	padding: 1%;
}
header{
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 40px;
  padding-top: 40px;
  border-style: solid;
  border-color: #3b3b3b;
  background-color: #005171;
}
h1{
  color: #FFFFFF;
  text-align: center;
}
nav{
    border-top: 0px;
    border-bottom: 3px;
    margin-top: 0px;
    padding-top: 0px;
    border-style: solid;
    border-color: #3b3b3b;
    float: left;
    box-sizing: border-box;
    border: solid;
    color: #3b3b3b;
    background-color: #005171;
    display: inline-block;
    width: 20%;
    min-width: 125px;
    margin-right: 15px;
    height: 200vh;
    overflow: auto;
		position: relative;z-index: 1;
    }
nav a{
	display: block;
	line-height: 45px;
	height: 45px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #3b3b3b;
	padding-left: 60px;
	background: url("../img/arrow.png") no-repeat;
	margin: 10px 0 10px 5px;
}
nav:hover{
	color: #222222;
}
nav .pagina:hover{
background-color: #005171;
color: #000000;
}
nav a:hover{
color: #FFFFFF;
background-color: #222222;
}
nav a:active{
	background-color:#000000;
	Color: #CCCCCC;
}
section{
	display: inline-block;
	width: 75%;
	height: 100vh;
	overflow: auto;
}
.pagina{
	background-color:#3b3b3b;
}
#logo{
  padding: 0px;
  margin: 0px;
  float: right;
  position: relative;
  bottom: 55px;
  right: 5px;
}
p{
  text-align: justify;
  font-family: serif;
}
figure{
  padding: 15px;

  float: right;
}
img{
  padding: 15px;
  float: right;
}
img:hover{
	transform: scale(1.1,1.1);
}
img:active{
	transform: scale(0.9,0.9);
}
.N{
	color: #005CB5;
	text-align:center;
}
.N:hover{
	color: #005cb5;
}
footer{
	min-height: 750px;
	background-image: url(https://vignette.wikia.nocookie.net/jurassicpark/images/f/f3/Jurassic_Park_-_Logo.png/revision/latest?cb=20180628205908);
	background-position: center;
	background-repeat: no-repeat;
	position: relative;z-index: 2;
}
footer:hover{
	transform: scale(0.99,0.99);
}
table.diners{
	color: #e8e8e8;
	border: 3px solid #000000;
	border-spacing: 0px;
	border-radius: 5px 5px 5px  5px;
}
th{
	text-align: center;
	margin: 5px;
	padding: 5px;
}
td{
	text-align: center;
	margin: 5px;
	padding: 10px;
	border-bottom:1px solid #000000;
}
tbody{
	background-color: #005171;
}
thead{
	background-color: #3b3b3b;
}
.diners th, .diners td{
	margin: 250px;
	padding-bottom: 5px;
}
