body{
  background-color: #00527A;


}
a{
  background-color: #00527A;
  font-size: 25px;
  text-decoration-line: none;
  height: 35px;
  width: 100px;
  display: inline-block;
  text-align: center;
  padding-left: 178px;
  padding-right: 177px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 3px;
  border-left-width: 3px;
  border-color: yellow;
  border-style:double;
  font-style: italic;
  font-family: serif;
}
a:visited{
  color: black;
}
a:hover{
  color: yellow;
}
a:active{
  color: red;
}
a:link{
  color: black;
}
nav{
  height:60px;
  background-color: #004161;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 3px;
  border-left-width: 3px;
  border-color: yellow;
  border-style:double;
}

header{
  height:250px;
  background-color:#004161;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 100px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top-width: 50px;
  border-bottom-width: 50px;
  border-right-width: 35px;
  border-left-width: 35px;
  border-color: yellow;
  border-style: dashed;
}

h1{
  text-align: center;
  font-size: 75px;
  font-style: italic;
}

img{
  width: 450px;
  float: left;
}

#id1{
  font-family: serif;
  font-size: 35px;
  font-style:italic;
  color: yellow;
  background-color: #00527A;
  text-align: left;
}

.clase{
  font-family:fantasy;
  font-size: 25px;
  font-style:normal;
  color: yellow;
  background-color: #00527A;
  text-align: left;
}



 ol{
  list-style-type: upper-roman;
  list-style-position: outside;
  list-style-image: none;
}

ul{
  list-style-type:square;
  list-style-position: outside;
  list-style-image: none;
}
