div{
  text-align: justify;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.a{
  text-align:center;
  padding: 20px;
  background-color: red;
  border-style:dashed;
  border-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.b{
  text-align:center;
  color:white;
  padding: 20px;
  background-color: yellow;
  border-style:double;
  border-color: black;
  background-image:linear-gradient(black,white);
}
.c{
  text-align:center;
  padding: 20px;
  background-color: magenta;
  border-style:groove;
  border-color: black;
  background-image: radial-gradient(white,magenta);
}
.d{
  text-align:center;
  padding: 20px;
  background-color: green;
  border-style:hidden;
  border-color: black;
  background-image:repeating-radial-gradient(white 40%,green 50%);
}
.e{
  padding: 20px;
  background-color: grey;
  border-style:dotted;
  border-color: black;
  transition-property: color, width, background-color, border-radius;
  transition-duration:  1s;
  transition-timing-function:linear;
  transition-delay: .3s;
  text-align:center;
}
.e:hover{
  color: green;
  width: 250px ;
  background-color: black ;
  border-radius: 10px;
  border-color: grey;
}
.e:active{
  color: black;
  width: 275px ;
  background-color: grey ;
  border-radius: 10px;
  border-color: black;
}
.f{
  text-align:center;
  padding: 20px;
  background-color: blue;
  border-style:outset;
  border-color: black;
}
.f:hover{
  transform: translate(25px, 30px);

}
.g{
  text-align:center;
  padding: 20px;
  background-color: pink;
  border-style:ridge;
  border-color: black;
}
.g:hover{
  transform: rotate(-45deg);
}
.h{
  text-align:center;
  color: white;
  padding: 20px;
  background-color: black;
  border-style:solid;
  border-color: grey;
}
.h:hover{
  transform: scale(0.5,0.75);
}
.i{
  text-align:center;
  padding: 20px;
  background-color: red;
  border-style:dashed;
  border-color: black;
}
.i:hover{
  transform: skewY(45deg);
}
