body{
background-color: #4d813f
}
#ab{
  font-family: sans-serif;
  font-variant: normal;
  font-size: 200%;
  font-style:italic;
  color: red
}
.a{
  font-family: sans-serif;
  font-variant: normal;
  font-size: 125%;
  font-style:italic;
  color: yellow;
  clear:right;
}
.b{
  font-family: sans-serif;
  font-variant: normal;
  font-size: 200%;
  font-style:normal;
  color: blue;
  text-align: right;
}
.c{
  font-family: sans-serif;
  font-variant: normal;
  font-size: 200%;
  font-style:normal;
  color: grey;
  float: right;
}
.d{
  clear: right;
  font-family: Arial;
  font-variant: oblique;
  font-size: 150%;
  font-style:normal;
  color: white;
}
.e{
  letter-spacing: 150px;
}
a{
  display: inline-block;
  background-color: purple;
  float: right;
  height: 200px;
  width: 100px;
  color: white;
}
